mat-form-field{
    width:90%;
  }
/* .cont{
  background-image:  linear-gradient(to bottom right, red, yellow);
} */
  
  .btn{
    display: table-cell;
    font-size: 14px;
    margin-left:8%;
    margin-top: 1%;
    min-width: 120px;
    background-color: rgb(102, 104, 219);
    
  }
  .bt2{
    display: table-cell;
    font-size: 14px;
    margin-left:8%;
    margin-top: 1%;
    min-width: 120px;
    background-color: rgb(218, 30, 45);
  }