<mat-toolbar color="red">
    <mat-toolbar-row>
      <button mat-icon-button color="white" [routerLink]="['/login']" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <h1>Blood Bank Management System</h1>
      <span class="spacer"></span>
      <button mat-raised-button [routerLink]="['/aboutus']">AboutUs</button>
      <button mat-raised-button [routerLink]="['/contactus']">ContactUs</button>
    </mat-toolbar-row> 
</mat-toolbar>
<img src="../assets/Images/contact-banner-2.jpg" alt="No Image">
<div class="container">
  <div class="text-block">
    <p>Email: bloodbank.nrtec@gmail.com</p><br>
    <p>Phonenumber: 08647 239905</p><br>
  </div>
</div>