<mat-toolbar color="red">
    <mat-toolbar-row>
      <button mat-icon-button color="white" [routerLink]="['/login']" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <h1>Blood Bank Management System</h1>
      <span class="spacer"></span>
      <button mat-raised-button [routerLink]="['/aboutus']">AboutUs</button>
      <button mat-raised-button [routerLink]="['/contactus']">ContactUs</button>
    </mat-toolbar-row> 
</mat-toolbar>
<div id="ab1">
  <p class="ab">A blood bank is a center where blood gathered as a result of blood donation is stored and 
    preserved for later use in blood transfusion. The term "blood bank" typically refers to a division
    of a hospital where the storage of blood product occurs and where proper testing is performed
    (to reduce the risk of transfusion related adverse events).
    However, it sometimes refers to a collection center, and some hospitals also perform collection.
    Blood banking includes tasks related to blood collection, processing, testing, separation, and storage.
    Blood Bank Management System (BBMS) is a Web-based application that is designed to store, process,
    retrieve and analyze information concerned with the administrative and inventory management within a blood bank.
    This project aims at maintaining all the information pertaining to blood donors, different blood groups available 
    in each blood bank and help them manage in a better way.
    Project Aim is to provide transparency in this field, make the process of obtaining blood from a
    blood bank hassle-free and corruption-free and make the system of blood bank management effective.
   </p>
   
  
</div>

