<!-- <ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/Images/aboutus.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/Images/home2.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/Images/contact-banner-2.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
   -->
<ngb-carousel>
    <ng-template ngbSlide  interval="500">
        <div class="picsum-img-wrapper">
            <img src="/assets/Images/home3.jpg" alt="Carousel One">
        </div>
    </ng-template>
    <ng-template ngbSlide  data-interval="500">
        <div class="picsum-img-wrapper">
            <img src="/assets/Images/home2.jpg" alt="Carousel Two">
        </div>
    </ng-template>
    <ng-template ngbSlide  data-interval="500">
        <div class="picsum-img-wrapper">
            <img src="/assets/Images/home1.jpg" alt="Carousel Three">
        </div>
    </ng-template>
</ngb-carousel>